.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  }
  
  .carousel-caption h5,
  .carousel-caption p {
    color: white; /* Set text color to white */
    font-family: 'lilita one', cursive;
    font-size: 80px;
    font-weight: 200;
    align-items: flex-start;
  }

  .carousel-item {
    display: flex;
    align-items: start;
  }

  .carousel-item {
    text-align: center; /* Center text in carousel items */
  }

  .navbar-brand a{
    @media (min-width: 1200px)
    width: auto;
    max-width: inherit;
    max-height: 80px;
}

.navbar {
  position: relative;
  bottom: 620px;
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

.force1 {
  background-image: url(./Images/pb-2-1.jpg);
}

.force2{
  background-image: url(./Images/pb-2-1.jpg);
}